@charset "utf-8";
@font-face {
    src: url(fontface.css);
}

body{
    background: url(image/MENUMAIN.webp)no-repeat;
}
.inner{
    width: 900px;
    margin: auto;
}
ul{
    position: relative;
    }
li{
    font-size: 30px;
    color: white;
    font-weight: 900;
    float: left;
    margin-right: 60px;
    margin-top: 380px;
    font-family:Arial;
}
li:last-of-type{
    margin-right: 0px;
}
.more>li>a{
    
    color: white;
    float: left;
}
a:hover{
    color: red;
}